@charset "UTF-8";
.card-background-white {
  margin: auto;
  text-align: center;
  width: 720px;
  background: white 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  opacity: 1;
}

.actionTitle {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-36) var(--unnamed-font-family-meiryo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: center;
  font: normal normal bold 24px/36px Meiryo;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
}

.card-background-white {
  text-align: center;
  margin-bottom: 20px;
}

.actionMessage {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 15px/26px var(--unnamed-font-family-meiryo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--フォント-000（38-）);
  font-weight: bold;
  text-align: center;
  font: normal normal normal 15px/26px Meiryo;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.38);
  opacity: 1;
}

.actionFooterMessage {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-meiryo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: center;
  font: normal normal bold 16px/24px Meiryo;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
}

.footerMessage {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-meiryo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal normal 14px/21px Meiryo;
  letter-spacing: 0px;
  opacity: 1;
}

.mentyIntroduce {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-meiryo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--フォント-000（87-）);
  text-align: left;
  font: normal normal normal 16px/28px Meiryo;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.87);
  opacity: 1;
}

.mentyPhoto {
  margin: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  opacity: 1;
  float: left;
}

.icon_profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  opacity: 1;
  float: left;
}

.mentyName {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/22px Noto Sans;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--フォント-000（87-）);
  text-align: left;
  font: normal normal bold 16px/22px Noto Sans;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.87);
  opacity: 1;
}

.mentyInfo {
  font: var(--unnamed-font-style-normal) normal medium 10px/15px Noto Sans;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--フォント-000（38-）);
  text-align: left;
  font-size: 10px;
  font: normal normal medium 10px/15px Noto Sans;
  letter-spacing: 0px;
  color: #00000061;
  opacity: 1;
}

.mentorPhoto {
  margin: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  opacity: 1;
  float: left;
}

.mentorName {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/22px Noto Sans;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--フォント-000（87-）);
  text-align: left;
  font: normal normal bold 16px/22px Noto Sans;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.87);
  opacity: 1;
}

.mentorInfo {
  font: var(--unnamed-font-style-normal) normal medium 9px/14px Noto Sans;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--フォント-000（38-）);
  text-align: left;
  font-size: 9px;
  font: normal normal medium 9px/14px Noto Sans;
  letter-spacing: 0px;
  color: #00000061;
  opacity: 1;
}

.card-message-white {
  margin: 20px;
  background: var(--バックグラウンド-f7f7f7) 0% 0% no-repeat padding-box;
  background: #f7f7f7 0% 0% no-repeat padding-box;
  border-radius: 0px 50px 50px 50px;
  opacity: 1;
}

.link {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-meiryo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--ファンクション-fbb03b);
  text-align: center;
  font: normal normal normal 14px/21px Meiryo;
  letter-spacing: 0px;
  color: #fbb03b;
}

.card-message-fanction {
  margin: 20px;
  padding: 20px;
  text-align: left;
  width: 640px;
  background-color: #FBB03B;
  border-radius: 0px 50px 50px 50px;
  font-size: 16px;
  font: normal normal normal 16px/28px Meiryo;
}
