@charset "UTF-8";
/* Typography
================================================== */
body {
  background: #F6F6F6;
  color: #555;
}

body,
p {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  line-height: 26px;
  font-size: 15px;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}

h1 {
  font-size: 36px;
  line-height: 48px;
}

h2 {
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

h4 {
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}

h5 {
  font-size: 14px;
  line-height: 24px;
}

#main {
  margin-top: 80px;
  background-color: #F7F7F7;
}

/* Global styles
================================================== */
html {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
}

.body-inner {
  position: relative;
  overflow: hidden;
  background-image: url(/img/wapper/bg4.jpg);
  background-position: right;
  background-size: cover;
}

a:link,
a:visited {
  text-decoration: none;
}

section,
.section-padding {
  padding: 70px 0;
  position: relative;
}

.bg-overlay {
  position: relative;
}

.bg-overlay .container {
  position: relative;
  z-index: 1;
}

.bg-overlay:after {
  background-color: rgba(0, 46, 91, 0.8);
  z-index: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bg-overlay:after {
  position: relative;
}

.bg-overlay:after {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:hover,
.nav-tabs > li > a {
  border: 0;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background: none;
}

/* Header
================================================== */
.header {
  background: #fff;
  position: relative;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.navbar-fixed {
  z-index: 1000;
  position: fixed;
  opacity: 0.98;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-animation: fadeInDown 800ms;
  animation: fadeInDown 800ms;
  -webkit-backface-visibility: hidden;
}

.header-one .site-navigation {
  background: #212121;
}

.header-one .navbar-collapse {
  padding-left: 0;
}

.header-one ul.navbar-nav > li {
  padding-left: 40px;
  padding-right: 40px;
}

.header-one .logo-area {
  padding: 10px 20px;
}

.logo-header-img {
  width: 143px;
}

.header-right {
  float: right;
}

ul.top-info-box {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

ul.top-info-box li {
  position: relative;
  float: left;
  margin-left: 0;
  border-right: 1px solid #dedede;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 25px;
  margin-right: 25px;
}

ul.top-info-box li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}

ul.top-info-box li.last {
  border-right: 0;
}

ul.top-info-box li .info-box span.info-icon {
  font-size: 20px;
  display: inline-block;
  text-align: center;
  float: left;
  margin: 2px 5px 0 0;
  position: relative;
}

ul.top-info-box li .info-box .info-box-content {
  display: inline-block;
  font-family: Montserrat;
  flex-direction: column;
}

ul.top-info-box li .info-box .info-box-title {
  font-size: 14px;
  margin-bottom: 8px;
  line-height: normal;
}

ul.top-info-box li .info-box .info-box-subtitle {
  margin: 0;
  line-height: normal;
  font-size: 15px;
  padding-top: 5px;
  max-width: 50vw;
}

.navbar-toggle {
  float: right;
  border-radius: 0;
  background: none;
}

.navbar-toggle-menu-icon {
  width: 40px;
  position: absolute;
  top: 21px;
  right: 10px;
}

ul.navbar-nav {
  float: none !important;
  display: inline-block;
}

ul.navbar-nav > li {
  float: none;
  display: inline-block;
}

ul.navbar-nav > li {
  padding: 0 13px;
  position: relative;
}

ul.navbar-nav > li:last-child {
  padding-right: 0;
}

ul.navbar-nav > li:last-child:after {
  background: none;
}

ul.navbar-nav > li > a:focus {
  background: none;
}

.logout-respon {
  display: none !important;
}

/* Main
================================================== */
.section-main {
  min-height: 700px;
  color: #fff;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  background-image: url(/img/wapper/bigp-illustent-pc.png);
}

.section-main .inner-logo {
  width: 100%;
  padding-top: 140px;
  margin: 0;
}

.consider-padding {
  padding-top: 195px !important;
}

.section-main .button-find-house {
  text-align: right;
  padding-right: 20px;
}

.section-main .button-see-entried {
  text-align: left;
  padding-left: 20px;
}

.branz-logo-main {
  width: auto;
}

/* Owner Bar
================================================== */
.section-support {
  margin-top: -143px;
}

.section-support .support-bar-base {
  background: #002662;
  /* for IE */
  filter: alpha(opacity=60);
  /* for IE */
  background: rgba(0, 38, 98, 0.6);
  padding: 20px;
}

.support-bar-message {
  padding-right: 0 !important;
}

.slider-content {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
}

.section-support .carousel-control {
  top: 35px;
  font-size: 40px;
  width: 5%;
  background: none;
}

.section-support .text-carousel {
  display: -webkit-box;
  max-width: 85%;
  margin: 0 auto;
  line-height: 2;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel-content {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.row-carousel {
  margin: 0 45px 0 45px;
}

@media (min-width: 768px) {
  .row-carousel .text-adjusted {
    text-align: left;
  }

  .row-carousel .date-adjusted {
    text-align: right;
  }
}
@media (max-width: 1200px) {
  .row-carousel {
    margin: 0 25px 0 25px;
  }
}
@media (max-width: 767px) {
  .row-carousel {
    margin: 0 45px 0 45px;
  }
}
.limited-height {
  height: 25px;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 97%;
  white-space: nowrap;
}

.info-owner {
  font-weight: 700;
  font-size: 17px;
}

.section-support .button-open-support {
  position: absolute;
  right: 90px;
}

/* NEWS
================================================== */
.news-base {
  background: white;
  width: 100%;
  padding: 20px;
  margin: 20px;
}

.news-base p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Membership
================================================== */
.section-setting .button-exit-membership {
  text-align: right;
}

/* PR
================================================== */
.section-club-pr {
  background-image: url(/img/wapper/bg3.jpg);
  background-position: right;
  background-size: cover;
}

.respon-banner-pc {
  display: block !important;
}

.respon-banner-sp {
  display: none !important;
}

.respon-banner-pc img, .respon-banner-sp img {
  max-width: 100%;
  width: auto;
}

/* Other Tokyu
================================================== */
.section-other-tokyu {
  padding-top: 150px !important;
  padding-bottom: 0 !important;
}

/* Footer
================================================== */
.copyright {
  background: #212121;
  padding: 8px 0;
  position: relative;
  z-index: 1;
  text-align: center;
}

#back-to-top {
  right: 40px;
  top: auto;
  z-index: 10;
  -webkit-backface-visibility: hidden;
}

#back-to-top:hover {
  opacity: 0.9;
}

#back-to-top.affix {
  bottom: 50px;
}

#back-to-top .btn img {
  width: 50px;
}

.branz-logo-footer {
  height: 63px;
}

/* Style Common
================================================== */
/* ------------Font-size------------- */
.fs-8 {
  font-size: 8px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

/* ------------Color------------- */
.body-color {
  color: #212121;
}

.primary-color {
  color: #002662;
}

.gray-black-color {
  color: #313131;
}

.gray-black-bg {
  background: #313131;
}

.white-color {
  color: white;
}

/* ------------フォントカラー------------- */
.fpr-color {
  color: #000000;
  opacity: 0.87;
}

.fsub-color {
  color: #000000;
  opacity: 0.54;
}

.fhelp-color {
  color: #000000;
  opacity: 0.38;
}

/* ------------UIカラー------------- */
.function-color {
  background-color: #FAB953;
  opacity: 0.87;
}

.background-color {
  background-color: #F7F7F7;
  opacity: 1;
}

.background-bark-color {
  background-color: #EAEAEA;
  opacity: 1;
}

.inactive-color {
  background-color: #BBBBBB;
  opacity: 1;
}

.solid-border-color {
  border: 1px solid #DDDDDD;
}

.solid-border-top-color {
  border-top: 1px solid #DDDDDD;
}

.solid-border-right-color {
  border-right: 1px solid #DDDDDD;
}

.solid-border-bottom-color {
  border-bottom: 1px solid #DDDDDD;
}

.solid-border-left-color {
  border-left: 1px solid #DDDDDD;
}

/* ------------コンポーネント------------- */
.btn-mg {
  margin-bottom: 5px;
}

.btn-primary-L {
  display: inline-block;
  font-size: 20px;
  font: normal normal bold 20px/30px Meiryo;
  color: #FFFFFF;
  background-color: #FBB03B;
  width: 320px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #FBB03B;
  border-radius: 30px 30px 30px 30px;
}

.btn-primary-S {
  display: inline-block;
  font-size: 16px;
  font: normal normal bold 16px/24px Meiryo;
  color: #FFFFFF;
  background-color: #FBB03B;
  width: 320px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 5px;
  border: 1px solid #FBB03B;
  border-radius: 30px 30px 30px 30px;
}

.btn-sub-L {
  display: inline-block;
  font-size: 20px;
  font: normal normal bold 20px/30px Meiryo;
  color: #FBB03B;
  background: #FFFFFF;
  width: 320px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 5px;
  border: 1px solid #FBB03B;
  border-radius: 30px 30px 30px 30px;
}

.btn-sub-S {
  display: inline-block;
  font-size: 16px;
  font: normal normal bold 16px/24px Meiryo;
  color: #FBB03B;
  background: #FFFFFF;
  width: 320px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 5px;
  border: 1px solid #FBB03B;
  border-radius: 30px 30px 30px 30px;
}

.btn-inactive-L {
  display: inline-block;
  font-size: 20px;
  font: normal normal bold 20px/30px Meiryo;
  color: #FFFFFF;
  background: #BBBBBB;
  width: 320px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 5px;
  border: 1px solid #BBBBBB;
  border-radius: 30px 30px 30px 30px;
}

.btn-inactive-S {
  display: inline-block;
  font-size: 16px;
  font: normal normal bold 16px/24px Meiryo;
  color: #FFFFFF;
  background: #BBBBBB;
  width: 320px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 5px;
  border: 1px solid #BBBBBB;
  border-radius: 30px 30px 30px 30px;
}

.form-input {
  display: inline-block;
  font-size: 16px;
  font: normal normal normal 16px/24px Meiryo;
  color: #00000061;
  background-color: #F7F7F7;
  width: 488px;
  height: 56px;
  padding: 20px;
  margin-bottom: 5px;
  border: 1px solid #DDDDDD;
  border-radius: 10px 10px 10px 10px;
  text-align: left;
}

.form-textarea-long {
  display: inline-block;
  font-size: 16px;
  font: normal normal normal 16px/24px Meiryo;
  color: #00000061;
  background-color: #F7F7F7;
  width: 488px;
  height: 204px;
  padding: 20px;
  margin-bottom: 5px;
  border: 1px solid #DDDDDD;
  border-radius: 10px 10px 10px 10px;
  text-align: left;
}

.form-textarea-short {
  display: inline-block;
  font-size: 16px;
  font: normal normal normal 16px/24px Meiryo;
  color: #00000061;
  background-color: #F7F7F7;
  width: 488px;
  height: 132px;
  padding: 20px;
  margin-bottom: 5px;
  border: 1px solid #DDDDDD;
  border-radius: 10px 10px 10px 10px;
  text-align: left;
}

/* ------------タグ------------- */
.tag-on {
  display: inline-block;
  font-size: 14px;
  font: normal normal bold 14px/19px Noto Sans;
  color: #FFFFFF;
  background-color: #FBB03B;
  text-align: center;
  font: normal normal bold 14px/19px Noto Sans;
  padding: 8px 40px;
  border-radius: 30px 30px 30px 30px;
  letter-spacing: var(--unnamed-character-spacing-0);
}

.tag-off {
  display: inline-block;
  font-size: 14px;
  font: normal normal bold 14px/19px Noto Sans;
  color: #FFFFFF;
  background-color: #BBBBBB;
  text-align: center;
  font: normal normal bold 14px/19px Noto Sans;
  padding: 8px 40px;
  border-radius: 30px 30px 30px 30px;
  letter-spacing: var(--unnamed-character-spacing-0);
}

.tag-selected-cols {
  display: inline-block;
  font-size: 11px;
  font: normal normal bold 11px/15px Noto Sans;
  color: #FBB03B;
  border: 1px solid var(--ファンクション-fbb03b);
  background-color: #FFFFFF;
  padding: 0px 15px;
  margin-right: 2px;
  border: 1px solid #FBB03B;
  border-radius: 30px 30px 30px 30px;
  cursor: pointer;
}

.tag-selected-rows {
  display: inline-block;
  font-size: 11px;
  font: normal normal bold 11px/15px Noto Sans;
  color: #FBB03B;
  border: 1px solid var(--ファンクション-fbb03b);
  background-color: #FFFFFF;
  padding: 5px 15px;
  margin-right: 5px;
  border: 1px solid #FBB03B;
  border-radius: 30px 30px 30px 30px;
  cursor: pointer;
}

/* ------------カード------------- */
.card-background-white {
  padding: 40px;
  text-align: center;
  width: 720px;
  height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 10px #0000001A;
  border-radius: 10px 10px 10px 10px;
}

.card-background-fanction {
  padding: 40px 0 0 0;
  text-align: center;
  width: 720px;
  background-color: #FBB03B;
  box-shadow: 0px 5px 10px #0000001A;
  border-radius: 10px 10px 10px 10px;
}

.card-stance-white {
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 200px;
  height: 150px;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 10px #0000001A;
  border-radius: 10px 10px 10px 10px;
  color: #000000;
  font-size: 14px;
  font: normal normal bold 14px/21px Meiryo;
}

.card-message-fanction {
  padding: 20px;
  text-align: left;
  width: 640px;
  background-color: #FBB03B;
  border-radius: 0px 50px 50px 50px;
  font-size: 16px;
  font: normal normal normal 16px/28px Meiryo;
}

.card-message-white {
  padding: 20px;
  text-align: left;
  width: 640px;
  background-color: #F7F7F7;
  border-radius: 0px 50px 50px 50px;
  font-size: 16px;
  font: normal normal normal 16px/28px Meiryo;
}

/* ------------ポップアップ------------- */
.pop-safe {
  text-align: center;
  padding: 13px;
  width: 720px;
  height: 50px;
  background-color: #FBB03B;
  border-radius: 5px 5px 5px 5px;
}

.pop-safe-font {
  font-size: 16px;
  color: #FFFFFF;
  font: normal normal bold 16px/24px Meiryo;
  opacity: 0.87;
}

.pop-error {
  text-align: left;
  padding: 13px 25px;
  width: 720px;
  height: 100%;
  background-color: #FF0000;
  border-radius: 5px 5px 5px 5px;
}

.pop-error-font {
  font-size: 16px;
  color: #FFFFFF;
  font: normal normal bold 16px/24px Meiryo;
  opacity: 0.87;
}

/* ------------Spacing------------- */
.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.gap-60 {
  clear: both;
  height: 60px;
}

.gap-40 {
  clear: both;
  height: 40px;
}

.gap-30 {
  clear: both;
  height: 30px;
}

.gap-20 {
  clear: both;
  height: 20px;
}

.mrb-30 {
  margin-bottom: 30px;
}

.mrb-80 {
  margin-bottom: -80px;
}

.mrt-0 {
  margin-top: 0 !important;
  margin-bottom: 20px !important;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

/* ------------Align------------- */
.make-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------Width Height------------- */
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-10 {
  width: 10%;
}

/* Bootstrap Responsive
================================================== */
.subscribe {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.dropdown-toggle:after {
  display: none !important;
}

.display-flex-wrap {
  flex-wrap: nowrap !important;
}

.respon-text-center {
  text-align: relative !important;
}

.mypage-footer {
  padding-top: 0;
  padding-bottom: 50px;
}

/* header_error */
.error-group {
  margin: auto;
  text-align: center;
  width: 720px;
  background-color: #FF0000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.error-message {
  text-align: left;
  font-size: 16px;
  font: normal normal bold 16px/28px Meiryo;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 0.87;
}

.error-group ul, li {
  padding-bottom: 0px;
  margin: 0px;
}

.error-container {
  margin-bottom: 20px;
}
