/* header */@at-root

.header-backendcolor {
  background-color: #FFFFFF;
  height:80px;
  box-shadow: 5px 0 10px #0000001A;
  position: fixed;
  top: 0px;
  width: 100%;
}

.header-container {
  display: flow-root;
  margin: 0 auto;
  width:960px;
}

.header-left {
}

.header-right {
  float: right;
  display: flow-root;
}

.logo {
  line-height:80px;
  float: left;
}

.concept {
  padding-left: 4px;
  margin: 36px 0 0 0;
  border: 1px solid #00000000;
  font-weight: bold;
  float: left;
}

#navigation li {
  float: left;
  list-style: none;
  margin: 0px 30px 0px 2px;
}

#navigation li:last-child {
  margin: 0px 0px 0px 2px;
}

#navigation li a {
  margin-top:5px;
  font-size: 14px;
  color: #00000061;
  text-decoration: none;
}

#navigation li a .nav-name {
  line-height:80px;
}

#navigation li p {
  font-size: 14px;
  color: #DDDDDD;
  text-decoration: none;
  cursor: default;
}

#navigation li p .nav-name {
  line-height:80px;
}


.nav-icon {
  margin-bottom:3px;
}