@charset "UTF-8";
.card-background-white {
  margin: auto;
  text-align: center;
}

.card-background-white {
  margin: auto;
  text-align: center;
  width: 720px;
  background: white 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  opacity: 1;
}

.content-container {
  margin-top: 120px;
}

.profile-container {
  display: inline-block;
  vertical-align: top;
  width: 195px;
  margin-right: 23px;
  text-align: center;
  margin-bottom: 50px;
}

.main-container {
  display: inline-block;
  vertical-align: top;
  width: 720px;
}

.home-container {
  /* display: flex;
  margin-top: 120px; */
  margin: auto;
  text-align: center;
}

.profile-image {
  margin-bottom: 10px;
}

.profile-name {
  font-size: 16px;
  font: normal normal bold 16px/22px Noto Sans;
  letter-spacing: 0px;
  color: #000000DE;
  margin: 0 0 5px 0;
  padding: 0;
}

.department-container {
  margin-bottom: 10px;
}

.profile-departmentTag {
  font-size: 11px;
  font: normal normal medium 11px/17px Noto Sans;
  letter-spacing: 0px;
  color: #00000061;
  opacity: 1;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.skilltag-container {
  margin-bottom: 15px;
}

.profile-skillTag {
  /* float:left; */
  font-size: 11px;
  color: #FBB03B;
  background-color: #FFFFFF;
  padding: 3px 13px;
  line-height: 18px;
  border: 1px solid #FBB03B;
  border-radius: 30px 30px 30px 30px;
  cursor: pointer;
}

.profile-count-container {
  margin-bottom: 10px;
}

.profile-count {
  font-size: 11px;
  margin: 0 0 3px 0;
  padding: 0;
  line-height: 18px;
  font: normal normal medium 11px/19px Noto Sans;
  color: #000000DE;
}

.profile-num {
  font-size: 20px;
  font: normal normal bold 20px/19px Noto Sans;
  color: #000000DE;
  padding-left: 3px;
}

.profile-link {
  font-size: 11px;
  color: #FBB03B;
  font: normal normal normal 11px/17px Meiryo;
  margin: 0;
  padding-left: -4px;
}

.profile-link:hover {
  color: #FBB03B;
  line-height: 16px;
}

.profile-icon {
  margin-bottom: 2px;
}

.mentor-search-concept {
  margin-bottom: 20px;
}

.mentor-btn {
  box-shadow: 0px 3px 6px #00000029;
}

.mentor-btn:hover {
  color: #FBB03B;
}

.btn-hover:hover {
  color: #FBB03B;
}

.image-hand {
  margin-top: 40px;
  width: 720px;
}

/* ------------カード------------- */
.card-mg-30 {
  margin-bottom: 30px;
}

.card-background-white-match {
  padding: 40px;
  text-align: center;
  width: 720px;
  height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 10px #0000001A;
  border: 10px solid #FBB03B;
  border-radius: 10px 10px 10px 10px;
}

.card-background-not-match {
  padding: 40px;
  text-align: center;
  width: 720px;
  height: 100%;
  background-color: #EFEFEF;
  box-shadow: 0px 5px 10px #0000001A;
  border-radius: 10px 10px 10px 10px;
}

.card-background-white-Request {
  padding: 40px;
  text-align: center;
  width: 720px;
  height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 10px #0000001A;
  border-radius: 10px 10px 10px 10px;
}

.home-card-title {
  font-size: 24px;
  font: normal normal bold 24px/36px Meiryo;
  letter-spacing: 0px;
  color: #000000;
  padding: 0px;
  margin-bottom: 5px;
}

.home-card-message {
  font-size: 14px;
  font: normal normal normal 14px/26px Meiryo;
  letter-spacing: 0px;
  color: #0000008A;
  margin-bottom: 0px;
}

.home-card-message a {
  color: #FBB03B;
}

.home-card-message a:hover {
  color: #FBB03B;
}

.cardUser-group {
  display: inline-block;
  width: 150px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.menteeRequest-image {
  margin-bottom: 10px;
}

.menteeUser-group {
  display: inline-block;
  vertical-align: top;
  width: 90px;
}

.menteeUser-message-group {
  display: inline-block;
  vertical-align: top;
  width: 520px;
  /* padding: 20px; */
}

.menteeUser-container {
  margin-top: 15px;
  margin-bottom: 10px;
}

.home-card-mentee-message {
  text-align: left;
}

.home-card-notMatch-message {
  font-size: 11px;
  font: normal normal normal 11px/17px Meiryo;
  color: #FF0000;
  margin-bottom: 25px;
}

/* 記事 */
.article-background-card {
  padding: 0px;
  margin-bottom: 30px;
  text-align: center;
  width: 720px;
  height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 10px #0000001A;
  border-radius: 10px 10px 10px 10px;
}

.article-image-group {
  display: inline-block;
  width: 240px;
  height: 157px;
}

.article-image-group img {
  width: 240px;
  height: 157px;
}

.article-content {
  display: inline-block;
  width: 480px;
  height: 157px;
  padding: 20px 40px;
}

.article-title {
  font-size: 16px;
  text-align: left;
  padding: 0px;
  margin: 0px;
  font: normal normal bold 16px/21px Meiryo;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.article-message {
  font-size: 14px;
  text-align: left;
  padding: 0px;
  margin: 0px;
  font: normal normal normal 14px/21px Meiryo;
  letter-spacing: 0px;
  color: #000000;
}

.article-link {
  font-size: 14px;
  text-align: left;
  padding: 0px;
  margin: 0px;
  font: normal normal normal 14px/21px Meiryo;
  letter-spacing: 0px;
  color: #FBB03B;
}

.article-link:hover {
  color: #FBB03B;
}
