@charset "UTF-8";
.password-group-title {
  font: normal normal normal 24px/36px Meiryo;
  color: #000000;
}

.form-item {
  font: bold bold bold 14px/21px Meiryo;
  color: #000000;
  text-align: left;
  margin-left: 80px;
}

#login {
  margin-top: 36px;
}