@charset "UTF-8";
.card-background-white {
  margin: auto;
  text-align: center;
  width: 720px;
  background: white 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  opacity: 1;
}

.card-center {
  text-align: center;
}

.card-background-white-password-test {
  display: block;
  margin: 24px 0px;
  width: 720px;
  padding: 40px;
  /* text-align: center; */
  /* height: 100%; */
  background-color: #FFFFFF;
  box-shadow: 0px 5px 10px #0000001A;
  border-radius: 10px 10px 10px 10px;
}

.card-background-white-mg {
  margin: 130px 50px;
  width: 720px;
  padding: 40px;
  /* text-align: center; */
  /* height: 100%; */
  background-color: #FFFFFF;
  box-shadow: 0px 5px 10px #0000001A;
  border-radius: 10px 10px 10px 10px;
}

.regist-content-item {
  margin-bottom: 20px;
}

.select-comment {
  font-size: 24px;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: center;
  font: normal normal bold 24px/11px Meiryo;
  margin-bottom: 35px;
}

.select-title {
  font-size: 16px;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: center;
  font: normal normal bold 16px/17px Meiryo;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 20px;
}

.skilltag-group {
  margin-bottom: 0px;
}

.required {
  font-size: 11px;
  color: #FF0000;
  text-align: center;
  font: normal normal normal 11px/11px Meiryo;
}

.arbitrarily {
  font-size: 11px;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--フォント-000（38-）);
  text-align: center;
  font: normal normal normal 11px/17px Meiryo;
  letter-spacing: 0px;
  color: #00000061;
  opacity: 38%;
}

.tag-input-checkbox {
  z-index: 1;
  position: absolute;
  left: -9999px;
}

.tag-laravel-checkbox {
  z-index: 1;
  display: inline-block;
  position: relative;
  font-size: 14px;
  font: normal normal bold 14px/19px Noto Sans;
  color: #FFFFFF;
  background-color: #BBBBBB;
  text-align: center;
  padding: 5px 40px;
  border-radius: 30px 30px 30px 30px;
  letter-spacing: var(--unnamed-character-spacing-0);
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s, box-shadow 0.2s;
  margin-right: 5px;
  margin-bottom: 15px;
}

.tag-laravel-checkbox:last-child {
  margin-right: 0px;
}

.tag-input-checkbox:checked + .tag-laravel-checkbox {
  background-color: #FBB03B;
}

.tag-input-checkbox:checked + .tag-laravel-checkbox::before {
  background-color: #BBBBBB;
}

.accordion-group {
  padding: 0 80px 0 80px;
}

.department-container {
  text-align: center;
}

.department-group {
  margin-bottom: 40px;
}

.accordion-title {
  padding: 20px;
  font-size: 16px;
  background-color: #F7F7F7;
  border: 1px solid #DDDDDD;
  font: normal normal normal 16px/24px Meiryo;
  letter-spacing: 0px;
  color: #000000DE;
  opacity: 1;
}

.accordion-title:hover {
  font: normal normal normal 16px/24px Meiryo;
  letter-spacing: 0px;
  color: #000000DE;
  opacity: 1;
}

.accordion-larvel {
  line-height: 64px;
  padding: 18px 22px 10px 25px;
  margin: 0px;
  text-align: left;
  border: 0.1px solid #DDDDDD;
  font: normal normal normal 16px/24px Meiryo;
}

.accordion-check {
  border-radius: 100px;
}

.accordion-left {
  text-align: left;
}

.password-change-link-container {
  margin-top: 124px;
  font-size: 12px;
}

.password-change-link {
  color: #FBB03B;
  font: normal normal medium 12px/17px Noto Sans;
}

.password-change-link:hover {
  color: #FBB03B;
  font: normal normal medium 12px/17px Noto Sans;
}

.btn-test {
  color: red;
}

.stance-input-checkbox {
  z-index: 1;
  position: absolute;
  left: -9999px;
}

.stance-laravel-checkbox {
  z-index: 1;
  display: inline-block;
  position: relative;
  font-size: 18px;
  /* font: normal normal bold 14px/19px Noto Sans; */
  color: #FFFFFF;
  background-color: #BBBBBB;
  text-align: center;
  /* padding: 10px; */
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  letter-spacing: var(--unnamed-character-spacing-0);
  white-space: nowrap;
  cursor: pointer;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  transition: background-color 0.2s, box-shadow 0.2s;
  /* margin-right: 5px;
  margin-bottom: 15px; */
}

.stance-laravel-checkbox:last-child {
  margin-right: 0px;
}

.stance-input-checkbox:checked + .stance-laravel-checkbox {
  background-color: #FBB03B;
}

.stance-input-checkbox:checked + .stance-laravel-checkbox::before {
  background-color: #BBBBBB;
}

.stance-relative {
  position: relative;
}

.stance-absolute {
  position: absolute;
  top: -10px;
  left: 170px;
}

/* メンター選択画面 */
.mentor-search-group {
  width: 190px;
  margin: 0px 5px 44px 5px;
  display: inline-block;
  vertical-align: top;
}

.mentor-search-title {
  font-size: 24px;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: center;
  font: normal normal bold 24px/11px Meiryo;
  margin-bottom: 20px;
}

.mentor-search-comment {
  font-size: 11px;
  font: normal normal normal 14px/21px Meiryo;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 30px;
}

.mentor-relative {
  position: relative;
}

.mentor-absolute {
  position: absolute;
  top: -8px;
  left: 110px;
}

p {
  padding: 0px;
  margin: 0px;
}

.mentor-search-tag {
  display: inline-block;
  font-size: 11px;
  font: normal normal bold 11px/15px Noto Sans;
  color: #FBB03B;
  border: 1px solid var(--ファンクション-fbb03b);
  background-color: #FFFFFF;
  padding: 2px 15px;
  margin-right: 2px;
  border: 1px solid #FBB03B;
  border-radius: 30px 30px 30px 30px;
  cursor: pointer;
}

.mentor-search-message {
  margin-bottom: 30px;
}

.mentor-search-message p {
  font-size: 14px;
  text-align: left;
  font: normal normal bold 14px/21px Meiryo;
  margin-left: 80px;
}

#mentee-message {
  color: black;
}

.btn-primary-L-mg-bottom {
  margin-bottom: 5px;
}

/* montorモーダル */
.madal-red {
  cursor: pointer;
}

.mentor-display {
  display: inline-block;
}

.mentor-display-none {
  display: none;
}

.modal-title {
  margin-bottom: 30px;
}

.modal-montee-message {
  margin-bottom: 40px;
}

/* メンター申請受付 */
.matching-reception-title {
  font-size: 24px;
  font: normal normal bold 24px/36px Meiryo;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 30px;
}

.mentee-reception-image-group {
  display: inline-block;
  width: 60px;
  vertical-align: top;
  margin-right: 10px;
}

.mentee-reception-info-group {
  display: inline-block;
  width: 530px;
  text-align: left;
  vertical-align: top;
  margin-bottom: 25px;
}

.matching-reception-name {
  font-size: 16px;
  font: normal normal bold 16px/22px Noto Sans;
  letter-spacing: 0px;
  color: #000000DE;
  margin-bottom: 6px;
}

.reception-current-department {
  font-size: 10px;
  font: normal normal medium 10px/15px Noto Sans;
  letter-spacing: 0px;
  color: #00000061;
  line-height: 15px;
}

.reception-current-department-container {
  margin-bottom: 6px;
}

.reception-current-department-container p {
  padding: 0px;
  margin: 0px;
}

.matching-reception-message {
  margin-bottom: 40px;
}

.matching-reception-group {
  display: inline-block;
  margin-bottom: 30px;
}

.reception-stance-title {
  font-size: 16px;
  font: normal normal bold 16px/22px Noto Sans;
  letter-spacing: 0px;
  color: #000000DE;
  margin-bottom: 20px;
}

.reception-stance {
  margin-bottom: 20px;
}

.display-none {
  display: none;
}

.display-block {
  display: inline-block;
}